@media all and (min-width: 480px) {
    .Pane{
        overflow: hidden
    }

    .Login {
        display: flex;
        flex-direction: column;
        flex: .3;
        align-items: center;
    }

    .Table-header {
        background-color: #282c34;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 30px;
        color: white;
    }

    @media (prefers-reduced-motion: no-preference) {
        .App-logo {
            animation: App-logo-spin infinite 15s linear;
        }
    }

    @keyframes App-logo-spin {
        0% {
            transform: rotate(0deg) scale(0.5);
        }
        50% {
            transform: rotate(180deg) scale(0.7);
        }
        100% {
            transform: rotate(360deg) scale(0.5);
        }
    }
}