.App {
  flex: .7;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.NameList{
  font-size: calc(5px + 2vmin);
  list-style-type:square;
  text-align: justify;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg) scale(0.7);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(0.7);
  }
}

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: .3;
}

.Login-header{
  background-color: #3399CC;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

.registerTip{
  font-size: smaller;
}